.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #2b2a27;
  font-family: Arial, sans-serif;
}

.chat-header {
  background-color: #4a90e2;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.message.user {
  background-color: #21201c;
  align-self: flex-end;
}

.message.bot {
  background-color: #373735;
  align-self: flex-start;
  border: 1px solid #464541;
}

.chatInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: #393937;
  border-top: 1px solid #464541;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.chatInput form {
  width: 100%;
  display: flex;
}

.chatInput input {
  flex: 1;
  padding: 10px;
  background-color: #393937;
  border: 1px solid #464541;
  color: #e3cfc6;
  border-radius: 5px;
  resize: none;
}

.chatInput button {
  margin-left: 10px;
  padding: 10px 20px;
  height: fit-content;
  background-color: #ad5631;
  color: #e3cfc6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatInput button:hover {
  background-color: #bd6641;
}
